body {
    margin: 0%;
    background-color: #f1faee;
}

#container {
    margin: 0 auto;
}

#sideBar {
    background-color: #caffbf;
    width: 320px;
    height: 100%;
    float: left;
    position: fixed;
    top: 0;
    left: 6.5vw;
}

#aside{
    text-align: center;
    margin-top: 80px;
}

.picture{
    width: 170px;
    height: 170px;
    margin: 0 auto;
    border: darkgray solid 10px;
}

.sideName{
    font-size: 30px;
}

.ul-list {
    list-style-type: none;
}

.ul-list li {
    margin-right: 45px;
    margin-bottom: 12px;
}

.sectionContents {
    margin-bottom: 50px;
    margin-left: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
    height: auto;
    width: 55vw;
    background-color: chartreuse;
}

.sectionContents h1{
    font-size: 42px;
}

.sectionContents h2{
    font-size: 35px;
}

.sectionContents h3 {
    font-size: 23px;
    margin: 0px;
}

.sectionContents p, li{
    font-size: 19px;
}

#about .sectionContents p:first-of-type{
    margin-top: 60px;
}

#contact {
    padding-bottom: 200px;
}